html {
	font-family: "IRANSans-web" !important;
}

body {
	background:
	linear-gradient(to right, rgba(240, 240, 240, 0.45),  rgba(240, 240, 240, 0)),
	url('/static/base/image/pattern/new-pattern3.jpg?v=1.1.1');
}

#top-logo {
	background-image: url('/static/base/image/SSC-logo-white.png?v=2');
	background-repeat: no-repeat;
	background-size: 80%;
	padding-left: 100px;
	background-position: center;
}

#top-lang {
    margin-left: 4%;
	margin-right: 4%;
}

.social-icon {
	opacity: 0.4;
	margin: 0px 5px;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.social-icon:hover {
	opacity: 0.6;
}

.input-field label {
    pointer-events: all;
}

.lang.flag {
    background-repeat: no-repeat;
	background-size: contain;
	padding-left: 18px;
	height: 14px;
	background-position: center 0px;
}

.lang.fa.flag {
    margin-top: 14px;
    background-image: url('/static/base/image/fa.svg');
}

.lang.en.flag {
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: url('/static/base/image/en.svg');
}

#language_selector_form {
    display: none;
}

.navbar.item {
	font-weight: bold;
	text-align: right;
}

.navbar.item:hover{
	border-bottom: solid #1E88E5 3px;
}

.main.parallax-container {
	height: 600px;
}

.gallery.parallax-container {
	height: 230px;
}


.px-10.vertical.spacer {
	height: 10px !important;
}

.px-20.vertical.spacer {
	height: 20px !important;
}

.px-40.vertical.spacer {
	height: 40px !important;
}

.px-20.horizontal.spacer {
	width: 20px !important;
}

.px-40.horizontal.spacer {
	width: 40px !important;
}

.right.spaced {
	padding-left: 30px;
}

.left.spaced {
	padding-right: 30px;
}

.full.width {
	width: 100%;
}

.multiline {
    word-break:break-all;
}

.breadcrumb.rtl > span {
    float: right;
}

.breadcrumb.ltr > span {
    float: left;
}

.category-box {
    margin: 0px 0px 0px 7px !important;
    padding: 4px;
    border-radius: 7px;
    font-size: .4em;
}

.new-post h5 {
    margin: 0px;
    padding: 7px;
}

.read-more {
    margin: 0px;
}

