.large-screen {
    font-size: 2.69em;
}

.medium-screen {
    font-size: 2.1em;
}

.very-small-screen {
    font-size: 0.7em;
}

.screen.slider .indicators .indicator-item.active {
    background-color: #009688;
}

.screen-text {
    margin: 5%;
}

.screen.slider .slides li .caption p {
    color: black;
}

.screen.slider .slides li .caption {
    top: 0%;
    left: 0%;
    right: 0%;
    width: 93%;
    margin: 0 auto 0 auto;
}

.ssc.tv.box {
	background-color: black;
	border: solid black 1px;
    border-radius: 6px;
    padding-top: 1%;
}


.main.ssc.tv.box {
	margin-top: 7px;
}

.ssc.tv.stand {
	background-color: black;
	color: grey;
	text-align: center;
	border-radius: 0px 0px 6px 6px;
	padding: 0px 10px 3px 10px;
	margin: auto;
}

.ssc.tv.screen {
	background-color: grey;
	border: solid black 1px;
	border-radius: 4px;
	margin-left: 1.4%;
	width: 48%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}