{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
{% if not forloop.first %}, {% endif %}
{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
<span class="card-panel">
    <a href="{% url 'blog_post_list' %}">{% trans "Announcements" %}</a>
</span>
{% if tag or category or year or month or author %}
<span class="card-panel">{% spaceless %}
    {% if tag %}
    {% trans "Tag:" %} {{ tag }}
    {% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
    {% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
    {% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endspaceless %}
</span>
{% endif %}
{% endblock %}

{% block left_wrapper %}
{% endblock %}


{% block title %}
{% if tag or category or year or month or author %}
{% block blog_post_list_filterinfo %}
{% if tag %}
{% trans "Viewing announcements tagged" %} {{ tag }}
{% else %}{% if category %}
{% trans "Viewing announcements for the category" %} {{ category }}
{% else %}{% if year or month %}
{% trans "Viewing announcements from" %} {% if month %}{{ month }}, {% endif %}
{{ year }}
{% else %}{% if author %}
{% trans "Viewing announcements by" %}
{{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}
{% else %}
{% block blog_recent_posts_title %}
{% trans "Recent announcements" %}
{% endblock %}
{% endif %}
{% endblock %}


{% block main_wrapper %}
<div class="container">
    <div class="row" id="post_container">
        {% block main %}

        {% for blog_post in blog_posts.object_list %}
        {% block blog_post_main%}
        <article class="right post col s12 m6 l4">
            {% with blog_post as post %}
            {% include 'generic/detailed_post_card.html' %}
            {% endwith %}
        </article>
        {% endblock %}
        {% endfor %}

        {% pagination_for blog_posts %}

        {% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
	$('#post_container').imagesLoaded( function() {
		$('#post_container').masonry({
		    isOriginLeft: false,
			itemSelector: '.post',
			transitionDuration: 1,
		});
	});
</script>
{% endblock %}
