{% load i18n mezzanine_tags pages_tags %}

{% for page in page_branch %}
{% if page.has_children_in_menu %}
<div class="col s12 m12 l12">
    <div class="card-panel">
        <h3 class="center"><a class="blue-text" href="{{ page.get_absolute_url }}">{{ page.title
            }}</a></h3>
        <div class="row">
            {% page_menu page 'includes/gallery_container_card.html' %}
        </div>
    </div>
</div>
{% else %}
<div class="col s12 m6 l6">
    <div class="card">
        <a class="blue-text" href="{{ page.get_absolute_url }}">
            <div class="card-image waves-effect waves-block waves-light">
                {% if page.gallery.parallax_image %}
                <img src="{{ MEDIA_URL }}{% thumbnail page.gallery.parallax_image 600 0 %}">
                {% endif %}
            </div>
        </a>
        <div class="center text card-action">
            <h6><a class="blue-text" href="{{ page.get_absolute_url }}">{{ page.title }}</a></h6>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}
