{% extends "base.html" %}
{% load blog_tags i18n  mezzanine_tags staticfiles other_ssc_tags%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="/static/base/css/screen.css?v=1.2"/>
{% endblock %}

{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<div class="container" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %} >
    <div class="px-20 vertical spacer"></div>
    <div class="row">
        <!--<div class="{% if LANGUAGE_BIDI %}right{% endif %} col s12 m12 l4">-->
            <!--&lt;!&ndash;<form action="login" method="POST">&ndash;&gt;-->
                <!--<div class="card">-->
                    <!--<div class="card-content">-->
                        <!--<p>-->
                            <!--<input type="text" name="username" placeholder="{% trans 'Email' %}">-->
                            <!--<input type="password" name="password" placeholder="{% trans 'password' %}">-->
                        <!--</p>-->
                        <!--<p><br>-->
                            <!--<button name="submit" type="submit" class="waves-effect waves-light btn full width">-->
                                <!--{% trans 'Coming Soon' %}-->
                            <!--</button>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--</div>-->
        <div class="col s12">
            <div class="main ssc tv box">
                {% get_screenpage settings.SCREEN_LEFT as uni_screen %}
                <a href="{{ uni_screen.get_absolute_url }}"
                   class="ssc tv our screen slider" id="left-screen-image-slider" hidden>
                    <ul class="slides">
                        {% with uni_screen.current_images as screenimages %}
                        {% for screenimage in screenimages %}
                        <li style="background-color:white;">
                            {% if screenimage.image %}
                                <img style="background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center top;
                                            background-color:black;"
                                     src="{{ MEDIA_URL }}{% thumbnail screenimage.image 300 0 %}">
                            {% else %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            {% endif %}
                            <div class="very-small-screen black-text screen-text center-align caption">
                                {{ screenimage.content|richtext_filters|safe}}
                            </div>
                        </li>
                        {% endfor %}
                        {% endwith %}
                    </ul>
                </a>

                {% get_screenpage settings.SCREEN_RIGHT as ssc_screen %}
                <a href="{{ ssc_screen.get_absolute_url }}"
                   class="ssc tv our screen slider" id="right-screen-image-slider" hidden>
                    <ul class="slides">
                        {% with ssc_screen.current_images as screenimages %}
                        {% for screenimage in screenimages %}
                        <li style="background-color:white;">
                            {% if screenimage.image %}
                                <img style="background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center top;
                                            background-color:black;"
                                     src="{{ MEDIA_URL }}{% thumbnail screenimage.image 300 0 %}">
                            {% else %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            {% endif %}
                            <div class="very-small-screen black-text screen-text center-align caption">
                                {{ screenimage.content|richtext_filters|safe}}
                            </div>
                        </li>
                        {% endfor %}
                        {% endwith %}
                    </ul>
                </a>
            </div>
            <div class="center-align">
				<span class="ssc tv stand">
					{% trans 'Currently on the screens' %}
				</span>
            </div>
        </div>
    </div>
</div>



<div class="px-10 vertical spacer"></div>
<div class="main parallax-container">
    <div class="parallax">
        <img src="{{ settings.FIRST_PAGE_PARALLAX }}">
    </div>
</div>
<div class="px-20 vertical spacer"></div>


<div class="container">
    <div class="row" id="post_container" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %} >
        {% blog_recent_posts 10 as recent_posts %}
        {% for post in recent_posts %}

        <div class="{% if LANGUAGE_BIDI %}right{% endif %} col s12 m6 l4 post">
            {% include 'generic/post_card.html' %}
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}


{% block extra_body %}
<script type="text/javascript" src="/static/base/js/screen.js?v=1.1"></script>

<script type="text/javascript">
	$('#post_container').imagesLoaded( function() {
		$('#post_container').masonry({
			{% if LANGUAGE_BIDI %}isOriginLeft: false,{% endif %}
			itemSelector: '.post',
			transitionDuration: 1,
		});
	});
</script>
{% endblock %}




