{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}

{% for page in page_branch %}
{% if not has_home and page.is_primary and forloop.first %}
<li {% if on_home %}class="active"{% endif %}>
    <a href="{% url 'home' %}" class="normal navbar item" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
        {% trans "Home" %}
    </a>
</li>
{% endif %}
{% if page.in_menu %}
{% if page.has_children_in_menu %}
<li {% if page.is_current_or_ascendant %}class="active"{% endif %}>
    <a href="{{ page.get_absolute_url }}"
       {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}
       class="normal navbar dropdown-button item"
       data-activates="menu-{{ page.html_id }}">
        {{ page.title }}
    </a>
    {% page_menu page %}
</li>
{% else %}
<li {% if page.is_current_or_ascendant %}class="active"{% endif %}>
    <a href="{{ page.get_absolute_url }}" class="normal navbar item" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
        {{ page.title }}
    </a>
</li>
{% endif %}
{% endif %}
{% endfor %}

{% else %}
<ul id="menu-{{ page.html_id }}" class='dropdown-content'>
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li class="{% if page.is_current_or_ascendant %}active{% endif %}">
        <a href="{{ page.get_absolute_url }}" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
            {{ page.title }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endspaceless %}