{% extends 'email/email_base.html' %}
{% load i18n other_ssc_tags %}

{% block message %}
    {% if message %}
        {{ message }}
    {% else %}
        {% trans 'Hi.' %}
        <br>
        {% trans 'Your information has been recorded in the SSC site as provided below.' %}
    {% endif %}
    <br>
    {% blocktrans with contact_us_link_attrs='class="blue-text" href="http://ssc.ce.sharif.eduushcontact-us/"' %}
        In case of any inconsistencies, please contact us via
        <a {{ contact_us_link_attrs }} >
        contact us form
        </a>
        and never reply this email.
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <table style="border-collapse: collapse; width: 95%; margin: 0 auto;">
        <tbody>
        {% for field, value in fields %}
                {% if not field|is_captcha %}
                    <tr {% if forloop.counter0|divisibleby:2 %} style="background-color: #f2f2f2" {% endif %}>
                        <td style="color: black; text-align: center;"><b>{{ field }}</b></td>
                        <td style="color: black; text-align: center;">{{ value|linebreaks }}</td>
                    </tr>
                {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

