{% extends 'base.html' %}
{% load static i18n other_ssc_tags %}

{% block js %} {% endblock %}

{% block body %}
<body {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>

    <header class="navbar-fixed">
    <nav class="blue darken-4 white-text">
        <div class="nav-wrapper container">

            <a href="{{ site_url }}" class="{% if LANGUAGE_BIDI %}left{% else %}right{%endif%}
             waves-effect waves-light" id="top-logo">
                &nbsp;
            </a>
        </div>
    </nav>
    </header>

    <div class="container">
        <div class="row">

            <div class="col s12 m12 l12">
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3 class="panel-title blue-text">ایمیل تایید اطلاعات وارد‌شده</h3></div>
                    <div class="panel-body">

                        {% if message %}
                            {{ message }}
                        {% else %}
                            {% trans 'Hi.' %}
                            <br>
                            {% trans 'Your information has been recorded in the SSC site as provided below.' %}
                        {% endif %}
                    <br>
                        {% blocktrans%}
                            In the case of any problems, please contact us via
                            <a class="blue-text" href="{{ site_url }}">
                            contact us form
                            </a>
                            and never reply this email.
                        {% endblocktrans %}
                    </div>

                    <div class="card-panel">
                        <table class="bordered striped centered" style="background-color: white">

                        {% for field, value in fields %}
                            {% if not field|is_captcha %}
                                <tr>
                                <td><b>{{ field }}</b></td>
                                <td>{{ value|linebreaks }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block footer %} {{ block.super }} {% endblock %}
</body>
{% endblock %}

