{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles i18n pages_tags %}

{% block left_wrapper %}
{% endblock %}

{% block main_wrapper %}

<div class="container">
    <div class="row">
        {% page_menu page 'includes/gallery_container_card.html' %}
    </div>
</div>

{% if page.gallery.parallax_image %}
<div class="gallery parallax-container">
    <div class="parallax"><img src="{{ page.gallery.parallax_image.url }}"></div>
</div>
{% endif %}
<div class="px-10 vertical spacer"></div>

<div class="container">
    <div class="row" id="image_container">
        {% with page.gallery.images.all as images %}
        {% for image in images %}
        <div class="image col s6 m4 l3">
            <div class="hoverable blue card">
                <div class="card-image">
                    <a href="{{ MEDIA_URL }}{% thumbnail image.file 1100 0 %}"
                       data-lightbox="gallery"
                       data-title="
                       {% blocktrans with url=image.file.url %}
                       Click <a href='{{ url }}'>here</a> to see the original image.
                       {% endblocktrans %}
                       ">
                        <img alt="{{ image.description }}"
                             src="{{ MEDIA_URL }}{% thumbnail image.file 300 0 %}">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>
{% endblock %}
