{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles i18n %}

{% block extra_css %}
<!--<link type="text/css" rel="stylesheet" href="/static/lightbox/css/loading.css">-->
{% endblock extra_css %}
{% block left_wrapper %}
{% endblock %}

{% block main_wrapper %}

<div class="container">
    <div class="card-panel">
        {{ page.gallery.content|richtext_filters|safe }}
    </div>
</div>

{% if page.gallery.parallax_image %}
<div class="gallery parallax-container">
    <div class="parallax"><img src="{{ MEDIA_URL }}{% thumbnail page.gallery.parallax_image 1100 0 %}"></div>
</div>
{% endif %}
<div class="px-10 vertical spacer"></div>

<div class="container">
    <div class="row" id="image_container">
        {% with page.gallery.images.all as images %}
        {% for image in images %}
        <div class="image {% if LANGUAGE_BIDI %}right{% endif %} col s6 m4 l3">
            <div class="hoverable blue card">
                <div class="card-image">
                    <a href="{{ MEDIA_URL }}{% thumbnail image.file 1100 0 %}" data-lightbox="gallery"
                       data-title="
                       {% blocktrans with url=image.file.url %}
                       Click <a href='{{ url }}'>here</a> to see the original image.
                       {% endblocktrans %}
                       ">
                        <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 300 0 %}">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
	$('#image_container').imagesLoaded( function() {
		$('#image_container').masonry({
		    {% if LANGUAGE_BIDI %}isOriginLeft: false,{% endif %}
			itemSelector: '.image',
			transitionDuration: 1,
		});
	});
</script>
{% endblock %}


