{% extends "base.html" %}

{% load other_ssc_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block meta_description %}{% endblock %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block main %}
<div class="card-panel">
    <h4 class="blue-text center-align">{{ title }}</h4>
    <p>{{ context.message }}</p>
    {% for field, value in context.fields %}
        {% if not field|is_captcha %}
        <p><h6>{{ field }}:</h6> {{ value }}</p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
