{% extends "pages/form.html" %}

{% load mezzanine_tags l10n i18n humanize other_ssc_tags %}

{% block extra_js %}
    {{ block.super }}
    <script>
    var one_time_flag = 0;
    function redirect() {
        if (one_time_flag == 0)
            window.location = "{{ payment_url }}";
        one_time_flag = 1;
    }
    window.setTimeout(function() {location.reload();}, 60*5000);
    </script>
{% endblock %}

{% block main %}

    {% if status == "payment" and not warning %}
        <script>
            redirect();
        </script>;
    {% else %}
        <div class="card-panel" style="overflow-x: scroll">
            {% if perms.transactions.can_view_payment_transactions %}
            <table class="white bordered striped">
                <thead>
                <tr>
                    {% for field in form_fields %}
                    <th>{{ field }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for entry in transactions_info %}
                <tr>
                    {% for value in entry %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {{ page.paymentformpage.content|richtext_filters|safe }}

            {% if status == "form" %}

            {% errors_for form %}
            <form class="mezzanine-form" onsubmit="return sumbit_form();"
                  method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

                <br>
                <div class="input-field left-align">
                    <select required name="payment_plan_id">
                        {% for plan in page.paymentformpage.pricegroup_set.all %}
                        <option value="{{ plan.id }}"
                        {% if plan.is_full %} disabled {% endif %}>
                            {{ plan.group_identifier }} {% if LANGUAGE_CODE == "fa" or LANGUAGE_CODE == "fa-IR" %}({{ plan.payment_amount|get_persian_comma_separated_money }}{% else %}{{plan.payment_amount|intcomma }}{% endif %} {% trans 'Rials' %})
                            {% if plan.is_full %} - {% trans 'At Full Capacity' %} {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                    <label>{% trans 'Choose The Right One' %}</label>
                </div>
                <br>

                {% fields_for form "includes/form_fields.html" %}
                <div class="form-actions">
                    <input class="submit btn" type="submit" value="{% trans 'Send and Pay' %}" >
                </div>
            </form>
            {% elif status == "design_error" %}
            <div>
                <h5 class="red-text center-align">
                    {% trans 'ERROR: Your form must contain a hidden field labeled UUID.' %}
                </h5>
            </div>
            {% elif status == "gateway_error" %}
            <div>
                <h5 class="red-text center-align">
                    {% trans 'ERROR: Can not connect to payment gateway, please try again.' %}
                </h5>
            </div>
            {% elif status == "at_full_capacity" %}
            <div>
                <h5 class="red-text center-align">
                    {% if page.paymentformpage.at_full_capacity_message %}
                    {{ page.paymentformpage.at_full_capacity_message }}
                    {% else %}
                    {% trans 'Unfortunately we have reached our maximum capacity.' %}
                    {% endif %}
                </h5>
            </div>
            {% elif status == "payment" %}
            <div>
                <p class="center-align">
                    {% if warning and warning == "reserved_list" %}
                    <h6 class="red-text center-align">
                        {% trans 'CAUTION: We are going to reach our maximum capacity, so we may put you in reservation list.' %}
                        <p class="center-align"><button class="btn" onclick="redirect();" >{% trans 'OK' %}</button></p>
                    </h6>
                    {% endif %}
                </p>
            </div>

            {% endif %}
        </div>
    {% endif %}
{% endblock %}
