{% extends "pages/form.html" %}

{% load mezzanine_tags l10n i18n humanize other_ssc_tags %}

{% block meta_og %}
    {{ block.super }}
    <meta property="og:description" content="{{ content|striptags|prefix:65 }}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
    var one_time_flag = 0;
    function redirect() {
        if (one_time_flag == 0)
            window.location = "{{ payment_url }}";
        one_time_flag = 1;
    }
    $(document).ready(function(){
        function show_discount_code_error(message) {
            $('#discount-code-info').addClass('red-text');
            $('#discount-code-info').removeClass('green-text');
            $('#discount-code-info').html(message);
        }

        $('#discount-code-validate').click(function(){
            var discount_code = $('#discount-code-input').val();
            if (!discount_code){
                show_discount_code_error('{% trans 'Please enter discount code' %}');
                return;
            }
            $.ajax({
                url: '/transactions/check-discount-code/',
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'code': discount_code,
                    'plan': $('#payment-plan-id').val()
                },
                error: function(xhr, error){
                    show_discount_code_error(xhr.responseJSON['error']);
                },
                success: function(data) {
                    $('#discount-code-info').removeClass('red-text');
                    $('#discount-code-info').addClass('green-text');
                    $('#discount-code-info').html('{% trans 'Discount code has been applied successfully. New price is ' %}' + intcomma(data['new_price']) + ' {% trans 'Tomans' %}');
                }
            });
        });
    });
    </script>
{% endblock %}

{% block form_responses %}
    {% if perms.transactions.can_view_payment_transactions %}
    <div class="card-panel" style="overflow-x: scroll">
        <table class="white bordered striped">
            <thead>
            <tr>
                {% for field in form_fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for entry in transactions_info %}
            <tr>
                {% for value in entry %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

{% block main %}

    {% if status == "payment" %}
        <script>
            redirect();
        </script>;
    {% else %}
        <div class="card-panel">
            {{ content|richtext_filters|safe }}
            {% if status == "form" %}

            {% errors_for form %}
            {% if discount_code_error %}
                <div class="alert alert-danger field-error">{% trans "Please correct the errors below." %}</div>
            {% endif %}
            <form class="mezzanine-form" onsubmit="return sumbit_form();"
                  method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

                <br>
                {% fields_for form "includes/form_fields.html" %}
                <br>

                <div class="input-field left-align">
                    <select required="required" name="payment_plan_id" id="payment-plan-id">
                        {% for plan in payment_form.price_groups.all %}
                        <option value="{{ plan.id }}">
                            {{ plan.group_identifier }} {% if LANGUAGE_CODE == "fa" or LANGUAGE_CODE == "fa-IR" %}({{ plan.payment_amount|get_persian_comma_separated_money }}{% else %}{{plan.payment_amount|intcomma }}{% endif %} {% trans 'Tomans' %})
                            {% if plan.is_full %} - {% trans 'At Full Capacity' %} {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                    <label class="control-label" for="payment-plan-id" dir="rtl">{% trans 'Choose The Right One' %}</label>
                </div>

                {% if payment_form.has_discount_code %}
                <div class="row">
                    <div class="input-field left-align right col s6">
                        <input type="text" id="discount-code-input" name="discount_code" value="{{ discount_code }}">
                        <label class="control-label" for="discount-code-input" style="padding-right: 20px" dir="rtl">{% trans 'Discount code' %}</label>
                    </div>
                    <div class="input-field col s6">
                        <button type="button" class="btn" id="discount-code-validate">{% trans 'Check' %}</button>
                    </div>
                    <p class="help-block red-text right" id="discount-code-info">
                        {{ discount_code_error }}
                    </p>
                </div>
                {% endif %}

                <div class="form-actions">
                    <input class="submit btn" type="submit" value="{% trans 'Send and Pay' %}" >
                </div>
            </form>
            {% elif status == "design_error" %}
            <div>
                <h5 class="red-text center-align">
                    {% trans 'ERROR: Your form must contain a hidden field labeled UUID.' %}
                </h5>
            </div>
            {% elif status == "gateway_error" %}
            <div>
                <h5 class="red-text center-align">
                    {% trans 'ERROR: Can not connect to payment gateway, please try again.' %}
                </h5>
            </div>
            {% elif status == "at_full_capacity" %}
            <div>
                <h5 class="red-text center-align">
                    {% if payment_form.at_full_capacity_message %}
                    {{ payment_form.at_full_capacity_message }}
                    {% else %}
                    {% trans 'Unfortunately we have reached our maximum capacity.' %}
                    {% endif %}
                </h5></div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
