{% load i18n blog_tags mezzanine_tags other_ssc_tags %}

{% with post|get_post_real_url as post_url %}
<div class="card">
    {% if post.featured_image %}
    {% block card_image %}
    <a href="{{ post_url }}">
        <div class="card-image waves-effect waves-block waves-light">
            <img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 400 0%}">
            <div class="card-title"></div>
        </div>
    </a>
    {% endblock %}
    {% endif %}
    {% block card_content %}
    <div class="card-content">
        <a href="{{ post_url }}" class="card-title grey-text text-darken-4">
            {{ post.title }}<br><br>
        </a>
        {% if not post.page %}
        {{ post.description_from_content | safe }}
        {% else %}
        {{ post.content | safe }}
        {% endif %}
    </div>
    {% endblock %}
    {% block card_tail %}
    {% block card_read_more %}
    <div class="card-action">
        <a class="teal-text" href="{{ post_url }}">
        {% if post.read_more_text %}
            {{ post.read_more_text }}
        {% else %}{% if post.page.form %}
            {% trans "Fill Out The Form" %}
        {% else %}{% if post.page.gallery %}
            {% trans "Go To the Gallery" %}
        {% else %}
            {% trans "Read More" %}
        {% endif %}{% endif %}{% endif %}
        </a>
    </div>
    {% endblock %}
    {% endblock %}
</div>
{% endwith %}
